# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\web-projects\transparent-3d-flip-card-ui-design\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
